---
- name: Ensure homebrew is installed.
  git:
    repo: git@github.com:Homebrew/homebrew.git
    version: master
    dest: "{{ homebrew_install_path }}"
    update: no
  sudo: no

- name: Check if homebrew binary is already in place.
  stat: path=/usr/local/bin/brew
  register: homebrew_binary

- name: Symlink brew to /usr/local/bin/brew.
  file:
    src: "{{ homebrew_install_path }}/bin/brew"
    dest: /usr/local/bin/brew
    state: link
  when: homebrew_binary.stat.exists == false

- name: Get list of installed homebrew packages.
  command: brew list
  register: homebrew_list
  changed_when: false

- name: Install configured homebrew packages.
  command: "brew install {{ item }}"
  with_items: homebrew_installed_packages
  when: "'{{ item }}' not in homebrew_list.stdout"

- name: Get list of tapped homebrew taps.
  command: brew tap
  register: homebrew_tap_list
  changed_when: false

- name: Tap configured homebrew taps.
  command: "brew tap {{ item }}"
  with_items: homebrew_taps
  when: "'{{ item }}' not in homebrew_tap_list.stdout"
